.simulator {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10%;
  width: 600px;

  &__form {
    width: 200px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  &__label {
    margin-top: 20px;
  }
  &__input {
    height: 20px;
  }
  &__submit {
    width: 200px;
    height: 40px;
    color: white;
    cursor: pointer;
    background-color: var(--primary-color);
    border: none;
  }
}

.results__title {
  font-size: 18px;
  font-weight: bold;
  color: var(--primary-color);
}

.results__item {
  margin-top: 20px;
}
